#app {
  font-family: Roboto, 'Segoe UI', -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 52px;
}
h2 {
  font-size: 46px;
}
.main {
  width: 1024px;
  height: 768px;
  background-color: rgba(56, 56, 56, 0.3);
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 50px;
  padding: 40px;
}
