#app {
  font-family: Roboto, 'Segoe UI', -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  text-shadow: 0px 0px 10px #00d2ff;
  color: #fff;
  font-size: 32px;
}

h1 {
  font-size: 52px;
}
h2 {
  font-size: 46px;
}
